* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #CDC9C9;
    color: #333;
}

/* Faixa vermelha */
.faixa-topo {
    width: 100%;
    height: 25px;
    background-color: #d60000;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background-color: white;
    border-bottom: 3px solid #d60000;
}

.navbar-container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-senai {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.logo-senai img {
    width: 150px;
}

.logo-senai span {
    font-size: 18px;
    font-weight: bold;
    color: #d60000;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a {
    color: #333;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #d60000;
}

/* Título da página */
.titulo {
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
}

/* CARTEIRINHA */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.carteirinha {
    width: 430px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid #d60000;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.card-header {
    text-align: center;
    margin-bottom: 15px;
}

.logo-card {
    width: 120px;
    margin-bottom: 10px;
}

.conteudo {
    display: grid;
    grid-template-columns: 120px 1fr 100px;
    gap: 10px;
    align-items: center;
}

.foto-aluno {
    width: 120px;
    height: 150px;
    border: 2px solid #d60000;
    border-radius: 5px;
    object-fit: cover;
}

.info p {
    font-size: 16px;
    margin-bottom: 5px;
}

.qrcode img {
    width: 100px;
}

/* Botão de download */
.btn-download {
    margin-top: 20px;
    background: #d60000;
    color: white;
    padding: 12px 25px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-download:hover {
    background: #a00000;
}