* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #CDC9C9;
    color: #333;
}


.faixa-topo {
    width: 100%;
    height: 25px;
    background-color: #d60000;
}

.navbar {
    width: 100%;
    background-color: white;
    border-bottom: 3px solid #d60000;
}

.navbar-container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-senai {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.logo-senai img {
    width: 150px;
    height: auto;
}

.logo-senai span {
    font-size: 18px;
    font-weight: bold;
    color: #d60000;
    text-transform: uppercase;
}


.nav-links {
    display: flex;
    gap: 35px;
    font-size: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.nav-links a:hover {
    color: #d60000;
}


h1 {
    padding: 10px;
    text-align: center;
}