* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #CDC9C9;
    text-align: justify;
}

.faixa-topo {
    width: 100%;
    height: 25px;      
    background-color: #d60000; 
}

.navbar {
    width: 100%;
    background-color: white;
    border-bottom: 3px solid #d60000; 
}


.navbar-container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo-senai {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

span {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    
}
.logo-senai img {
    width: 150px;
    height: auto;
}


.logo-senai span {
    font-size: 18px;
    font-weight: bold;
    color: #d60000;
    text-transform: uppercase;
    
}

.nav-links {
    display: flex;
    gap: 35px;
    color:#d60000;
    font-size: 30px;
    text-align: center;
    list-style: none;      
    padding: 0;           
    margin: 0;            
}


.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #d60000;
}
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.3s;
}

.menu li a:hover,
.menu li a.ativo {
    background: #d32f2f;
    border-radius: 5px;
}


header {
    background: rgb(230, 14, 14);
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    border-radius: 20px;
    border-bottom: 3px solid white;
    
    
}

.container {
    max-width: 900px;
    background: #fff;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    color:gray
}

h2 {
    color: #333;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
    border-bottom: 2px solid #d60000;
    font-size: 18px;
    margin: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    padding: 8px;
    margin: 10px;
}


.topicos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;

}

.item {
    background: rgb(177, 176, 176);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(182, 115, 115, 0.1);
    font-size: 15px;
    text-align: center;
    flex: 1;
    margin: 20px;
    color: rgb(22, 21, 21);
    border-bottom: #d60000;
}

footer {
    margin-top: 20px;
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
}