* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #CDC9C9;
    color: #333;
}


.faixa-topo {
    width: 100%;
    height: 25px;
    background-color: #d60000;
}


.navbar {
    width: 100%;
    background-color: white;
    border-bottom: 3px solid #d60000;
}

.navbar-container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-senai {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.logo-senai img {
    width: 150px;
    height: auto;
}

.logo-senai span {
    font-size: 18px;
    font-weight: bold;
    color: #d60000;
    text-transform: uppercase;
}


.nav-links {
    display: flex;
    gap: 35px;
    font-size: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.nav-links a:hover {
    color: #d60000;
}


h1 {
    padding: 10px;
    text-align: center;
}


.home {
    text-align: center;
    padding: 50px;
    background: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
}

.home h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.home p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #d60000;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #a00000;
}


.carrossel-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.carrossel-container img {
    width: 60%;
    height:100%;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
    transition: opacity 0.4s ease;
    display: flex;
}


.botao{
    position: relative;
    top: 45%;
    transform: translateY(-50);
    background: rgba(0,0,0,0);
    color:#d60000;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    transition: 0.5s all;
}


.botao:hover{
    transform: scale(1.4);
    color: #a00000;
}



.sobre {
    padding: 50px 20px;
    background: #fff;
    text-align: center;
}

.sobre h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.Tecnologia {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    text-align: center;
    background: #d60000;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.Tecnologia p {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.8px;
    text-align: center;
    margin: 15px;
}

.sobre p {
    max-width: 700px;
    margin: 10px auto; 
    font-size: 18px;
    line-height: 1.6;  
}


.footer {
    background: #111;
    color: #fff;
    margin-top: 40px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 15px;
    text-align: center;
}

.footer p {
    font-size: 16px;
    line-height: 1.5;
}

.footer span {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    color: #ccc;
}