
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #CDC9C9;
}


.faixa-topo {
    width: 100%;
    height: 25px;
    background-color: #d60000;
}


.navbar {
    width: 100%;
    background: #fff;
    border-bottom: 3px solid #d60000;
}

.navbar-container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-senai {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-senai img {
    width: 140px;
}

.logo-senai span {
    font-size: 18px;
    font-weight: bold;
    color: #d60000;
    text-transform: uppercase;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #d60000;
}


main {
    padding: 30px 15px;
}


main h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}


.container {
    max-width: 420px;
    background: #fff;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}


.group {
    margin-bottom: 15px;
    text-align: left;
}

.group label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.group input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}


button {
    width: 100%;
    padding: 12px;
    background: #d60000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #b80000;
}


.container p {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.container a {
    color: #d60000;
    font-weight: bold;
    text-decoration: none;
}


.footer {
    background: #111;
    color: #fff;
    margin-top: 500px;

}

.footer-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px 15px;
    text-align: center;
}

.footer p {
    font-size: 16px;
    line-height: 1.5;
}

.footer span {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    color: #ccc;

}






