<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteirinha do aluno</title>
    <link rel="stylesheet" href="../css/carteirinha.css">
</head>
<body>

<div class="faixa-topo"></div>

<nav class="navbar">
    <div class="navbar-container">
        <div class="logo-senai">
            <img src="../img/logoSenai.jpg" alt="Logo SENAI">
            <span>ALUNOS</span>
        </div>

        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a target="_blank" href="https://www.sp.senai.br">SENAI OFICIAL</a></li>
            <li><a href="carteirinha.html">Carteirinha</a></li>
            <li><a href="cadastro.html">Cadastro</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </div>
</nav>

<h1 class="titulo">Carteirinha do Aluno</h1>

<div class="container">
    <div id="card" class="carteirinha">
        <div class="card-header">
            <img src="../img/logoSenai.jpg" class="logo-card">
            <h2>SENAI - Identificação do Aluno</h2>
        </div>

        <div class="conteudo">
            <img src="../img/carteirinha.png" class="foto-aluno">

            <div class="info">
                <p id="displayNome"> <strong>Nome:</strong> Fernando Moreira</p></p>
                <p id="displayRa"> <strong>RA:</strong>251488</p></p>
                <p><strong>Curso:</strong> Desenvolvimento de Sistemas</p>
                <p><strong>Turma:</strong> DS-1</p>
            </div>

            <div class="qrcode">
                <img id="qrcode-img" alt="QR Code">
            </div>
        </div>
    </div>

    <button id="download-btn" class="btn-download">Baixar Carteirinha</button>
</div>
   
<footer class="footer">
    <div class="footer-container">
        <p>Desenvolvido pelos alunos do SENAI</p>
        <p>
            Leandro de Souza | Nicolas Eduardo | Stefany Viveiros
            <span>© 2025</span>
        </p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>


<script src="../js/carteirinha.js"></script>
<!-- <script src="../js/carteirinha.js"></script> -->

</body>
</html>